# Auxiliary files created by quarto
*.html
*.pdf
*.R
*.md
*.tex
*.lof
*.lot
*.toc
*.aux
*.log
*.docx

# Auxiliary folders used by quarto, python, R,...
.ipynb_checkpoints
venv
template_files
template_with_code_files
template_r_files
template_py_files

# IDE files
.vscode

# Quarto website files
docs/_site
docs/site_libs
site_libs