/*-- scss:defaults --*/

$profinit_red: #bd3632;
$profinit_grey: #616365;

$table_grey_darker: #c2c5c7;
$table_grey_lighter: #e3e5ea;
$table_border: 2px;

$primary:       $profinit_red !default;

/* See https://quarto.org/docs/output-formats/html-themes.html#theme-options */

/*-- scss:rules --*/

