/*-- scss:defaults --*/

$profinit_red: #bd3632;
$profinit_grey: #616365;


$primary:       $profinit_red !default;

/* See https://quarto.org/docs/output-formats/html-themes.html#theme-options */

/*-- scss:rules --*/

h1.title {
  color: $profinit_grey;  
}

h1:not(.title), h2, h3, h4 {
  color: $profinit_red;  
}



h4 em {
  color: black;    
  font-style: normal; 
}


