@use 'variables' as v;

/*-- scss:rules --*/

h1, h2, h3, h4, p.subtitle {
  color: v.$profinit_red;  
}

h4 em {
  color: $profinit_red;    
  font-style: normal;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

strong {
  color: v.$profinit_red;
}

a {
  color: v.$profinit_red
}

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: v.$table_border solid white;
}
thead {
  background-color: v.$profinit_red;
  color: white;
}

tbody tr:nth-child(odd) {
  background-color: v.$table_grey_darker;
}

tbody tr:nth-child(even) {
  background-color: v.$table_grey_lighter;
}

th, td {
  border: v.$table_border solid white;
  padding: 20px;
}
