/*-- scss:defaults --*/

$profinit_red: #bd3632;
$profinit_grey: #616365;

$table_grey_darker: #c2c5c7;
$table_grey_lighter: #e3e5ea;
$table_border: 2px;


$primary: $profinit_red !default;

/* See https://quarto.org/docs/output-formats/html-themes.html#theme-options */

/*-- scss:rules --*/

h1.title, h2.title, h3.title, h4.title, p.subtitle {
  color: $profinit_red;  
  
}

h1:not(.title), h2:not(.title), h3:not(.title), h4:not(.title) {
  color: $profinit_red;  
  font-style: normal;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

strong {
  color: $profinit_red;
}

.reveal a {
  color: $profinit_red
}

.long-table {
  display: block;
  overflow-x: auto;
  table-layout: fixed;
}

table {
  width: 100%;
  border-collapse: collapse;
  border: $table_border solid white;
}
thead {
  background-color: $profinit_red;
  color: white;
}

tbody tr:nth-child(odd) {
  background-color: $table_grey_darker;
}

tbody tr:nth-child(even) {
  background-color: $table_grey_lighter;
}

th, td {
  border: $table_border solid white;
  padding: 20px;
}
