/*-- scss:defaults --*/

$profinit_red: #bd3632;
$profinit_grey: #616365;

$table_grey_darker: #c2c5c7;
$table_grey_lighter: #e3e5ea;
$table_border: 2px;

$link_color: $profinit_red;
$popover-bg: $profinit_red;
$input-bg: $profinit_red;

$toc-color: $profinit_red;

$navbar-bg: $profinit_red;
$navbar-fg: white;

$sidebar-bg: white;
$sidebar-fg: $profinit_grey;

/*-- scss:rules --*/

h1, h2, h3, h4, p.subtitle {
  color: $profinit_red;  
}

h4 em {
  color: $profinit_red;    
  font-style: normal;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

strong {
  color: $profinit_red;
}

.sidebar-title {
  color: white
  
}

.corporate-table table {
    width: 100%;
    border-collapse: collapse;
    border: $table_border solid white;
}
.corporate-table thead {
    background-color: $profinit_red;
    color: white;
}

.corporate-table tbody tr:nth-child(odd) {
    background-color: $table_grey_darker;
}

.corporate-table tbody tr:nth-child(even) {
    background-color: $table_grey_lighter;
}
